# Track only the frontend and backend folders for now
/*
!/.gitignore
!/frontend/
!/backend/

# Inside frontend/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.*
!frontend/.env.example

# Inside backend/
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.env
backend/.env.*
!backend/.env.example
backend/populate_ratings.py
backend/test_stats.py
backend/locustfile.py

# OS
.DS_Store
