# Track only the frontend folder for now
/*
!/.gitignore
!/frontend/

# Inside frontend/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.*
!frontend/.env.example

# OS
.DS_Store
